wine dataset is available in sklearn library.

- Data Set Characteristics:

- Number of Instances
178 (50 in each of three classes)

- Number of Attributes
13 numeric, predictive attributes and the class

- Attribute Information
1. Alcohol

2. Malic acid

3. Ash

4. Alcalinity of ash

5. Magnesium

6. Total phenols

7. Flavanoids

8. Nonflavanoid phenols

9. Proanthocyanins

10. Color intensity

11. Hue

12. OD280/OD315 of diluted wines

13. Proline

# *Loading data*

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import datasets

In [30]:
wine = datasets.load_wine()
type(wine)

sklearn.utils.Bunch

In [31]:
X.columns

RangeIndex(start=0, stop=13, step=1)

In [32]:
print ("Features: ", wine.feature_names)

Features:  ['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']

In [33]:
print ("Labels: ", wine.target_names)

Labels:  ['class_0' 'class_1' 'class_2']

In [34]:
print(wine.data.shape)

(178, 13)

# Train data

In [35]:
X=pd.DataFrame(wine['data'])
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [36]:
y=print(wine.target)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

# Set up Model

In [37]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(wine.data,wine.target,test_size=0.30,random_state=0)

In [38]:
from sklearn.naive_bayes import GaussianNB

In [39]:
gnb = GaussianNB()

In [40]:
gnb.fit(X_train, y_train)

GaussianNB()

In [42]:
y_pred=gnb.predict(X_test)
print(y_pred)

[0 2 1 0 1 1 0 2 1 1 2 2 0 0 2 1 0 0 2 0 0 0 0 1 1 1 1 1 1 2 0 0 1 0 0 0 2
 1 1 2 0 0 1 1 1 0 2 1 2 0 2 2 0 2]

# Checking for accuracy

In [46]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.9444444444444444

# Constructing confusing matrix

In [48]:
from sklearn.metrics import  confusion_matrix

con=np.array(confusion_matrix(y_test,y_pred))

con

array([[19,  0,  0],
       [ 2, 19,  1],
       [ 0,  0, 13]])